.rodape__container {
    text-align: center;
    background-color: var(--cor-rodape);
}

.rodape__titulo {
    font-weight: 600;
    font-size: 36px;
    color: var(--cor-fonte-principal);
    padding-top: 3em;
}

.rodape__texto {
    font-size: 20px;
    color: var(--cor-terciaria);
    padding: 2em 0;
}

.rodape__email {
    border: 2px solid var(--cor-caixa-email);
    border-radius: 12px;
    padding: 1em;
    width: 25%;
    margin: auto;
    background-color: var(--branco);
}

.rodape__email::placeholder {
    color: var(--cor-terciaria);
}

.rodape__botao {
    font-weight: 500;
    color: var(--branco);
    background-color: var(--cor-secundaria);
    padding: 1em 2em;
    border-radius: 12px;
    margin-left: 1em;
}

.rodape__direitos {
    color: var(--cor-direitos);
    padding: 2em 0 6em 0;
}