.container__metricas {
    display: flex;
    padding: 2em;
    justify-content: center;
    align-items: center;
}

.metricas__conteudo {
    margin: 0 2em;
    width: 25%;
}

.metricas__titulo {
    font-size: 60px;
    font-weight: 600;
    color: var(--cor-secundaria);
}

.metricas__subtitulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-fonte-principal);
    margin: 2em 0 1em 0;
}

.metricas__texto {
    color: var(--cor-terciaria);
}